<p> Dear <%= @task.project.client.name %></p>
<p>
  The task <%= @task.name %> belonging to <%= @task.project.client.name %> due on <%= @task.due_date.strftime("%A, %d %B %Y")%> has been re opened.
</p>
regards,<br/>
<%= @task.project.user.name %>