<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @profile.fullname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @profile.designation %>
</p>

<p>
  <strong>D o b:</strong>
  <%= @profile.d_o_b %>
</p>


<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<h3>Assigned Tasks</h3>

<ul>
  <% for task in @profile.tasks %>
    <li><%= link_to task.name, task_path(task) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
