<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @task.rating %>
</p>

<p>
  <strong>Is completed:</strong>
  <%= @task.is_completed %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @task.assigned_to %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @task.profile_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
