<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<% data = {} %>

<% Client.all.each do |client| %>
  <% data["#{client.name}"] = client.projects.size %>
  <% end %>

<%= pie_chart(data) %>

<% projects = {} %>

<% Project.all.each do |project| %>
  <% projects["#{project.title}"] = project.tasks.size %>
  <% end %>

  <%= column_chart(projects) %> 

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Start date</th>
      <th>Status</th>
      <th>Assigned to</th>
      <th>User</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.location %></td>
        <td><%= project.start_date.strftime("%A, %d %B %Y") %></td>
        <td><%= project.status %></td>
        <td><%= project.assigned_to %></td>
        <td><%= project.user_id %></td>
        <td><%= project.client_id %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Client.new %>
<%= link_to 'New Project', new_project_path %> <% end %>|
<%= link_to 'Dashboard', dashboards_index_path %> |<%= link_to "Export excel", projects_path(format: "xls") %>



